* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #083563;
    --Bg-dark: #062544;
    --Span: #08f3ff;
    --color: #fff;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color);
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--Bg-dark);
    width: 100%;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    margin: 20px 40px;
    cursor: pointer;
    color: #fff;
    
}

.link {
    display: flex;
    text-align: center;
    padding: 30px 100px;
}

.link a {
    text-align: none;
    padding: 0 40px;
    color: var(--color);
    text-decoration: none;
}

.link a:hover {
    color: var(--Span);
    cursor: pointer;
}

/* main */

.beranda {
    background-color:var(--bg);
    width: 100%;
    text-align: center;
    padding: 60px 0;
}

main {
    text-align: center;
    padding: 120px 0px;
}

main img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid var(--color);
}

main h2 span::after {
    content: "";
    animation: gerak infinite 8s ease;
    transform: translateY(-50%);
    color: var(--Span);
    font-size: 50px;
}

@keyframes gerak {
    0% {
        content: "Selamat datang";
    }
    50% {
        content: "Saya Muthia Pertiwi";
    }
    100% {
        content: "Ini web pribadi saya";
    }
}

main a button {
    width: 400px;
    padding: 10px;
    border: 2px solid var(--bg);
    border-radius: 50px;
    margin-top: 40px;
    font-size: 15px;
}

main a button:hover {
    color: var(--color);
    background-color: #062544;
    border: 2px solid #fff;
    cursor: pointer;
}

/* Study */
.pendidikan, .softskill {
    text-align: center;
    margin: 60px;
}

.pendidikan h1, .softskill h1 {
    color: var(--bg);
    font-size: 50px;
    padding: 80px  ;
}

.box {
    display: flex;
    justify-content: space-evenly;
}

.box-content {
    background-color: #fff;
    width: 300px;
    height: 320px;
    padding-top: 30px;
    padding-right: 7px;
    color: var(--bg);
    border-radius: 7px;
    float: left;
    margin: 70px 20px 20px 55px;
}

.box-content:hover {
    background-color: #062544;
    color: #fff;
    cursor: pointer;
}

.box-content img {
    height: 150px;
    border: none;
    margin: 0;
}

.box-content h3, p {
    padding: 10px 0;
}

/* contact */
.kontak {
    margin: 400px 0 50px;
    padding: 100px 0 50px;
    text-align: center;
    color: var(--bg);
}

.kontak h1 {
    font-size: 40px;
}

.kontak img {
    width: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
 
}

.kontak p {
    font-size: 30px;
}

/* footer */
.footer {
    background-color: #062544;
    text-align: center;
    font-size: 15px;
}